*{
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}
.logo{
    text-align: center;
}
.logo img{
    width: 220px;
    height: 200px;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    padding: 0 auto;
}
.banner h2{
    position: absolute;
    top: 50%;
    right: 50px;
    font-size: 45px;
    color: red;
}
.banner p{
    position: absolute;
    top: 65%;
    right: 50px;
    font-size: 20px;
    color: rgb(54, 54, 207);
}
.banner button{
    position: absolute;
    top: 80%;
    right: 200px;
    width: 100px;
    height: 40px;
    background-color: red;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
}
.intro h1{
    text-align: center;
}
.robo{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.robo img{
    width: 300px;
    height: 300px;
    border-radius: 10px;

}
.intro{
    background-color: grey;
   margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.intro h1{
    font-size: 40px;
    color: red;

}
.intro p{
    font-size: 22px;
}
.intro h2{
    text-align: center;
    color: red;
}
.offer{
    text-align: center;
    font-size: 20px;
}
.offer p{
    padding-bottom: 10px;
}
.copy{
    text-align: center;
    font-size: 20px;
    background-color: red;
    color: white;
    padding: 10px;
}
.background h2{
font-size: 30px;
margin-bottom: 10px;
background-color: red;
color: white;
}
.background p{
    font-size: 20px;
    padding-bottom: 20px;
}
.missions{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.549);
    width: 80%;
    margin-left: 120px;
    border-radius: 20px;
}
.missions h3{
    font-size: 25px;
    padding: 10px;
    
    color: red;
}
.missions p{
    font-size: 20px;
    padding: 10px;
}
.serve h2{
    text-align: center;
}
.services{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 10px;
}
.services img{
    width: 400px;
    height: 400px;

}
form{
   
    text-align: center;
    padding: 20px;
    display: block;
}
.reg input{
    width: 80%;
    height: 50px;
    display: block;
    margin-left: 100px;
   font-size: 15px;
   border-radius: 10px;
   border: 1px solid grey;

}
.follow{
    text-align: center;
    padding-bottom: 20px;
}
.follow h2{
    font-size: 30px;
    padding-bottom: 10px;
}
.follow p{
    font-size: 20px;
}
.link{
    text-align: center;
    padding-bottom: 10px;
    text-decoration: none;
}
.link a{
    text-decoration: none;
}
button{
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}
.contact{
    text-align: center;
    color: red;
}
nav{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
nav a{
    text-decoration: none;
}
.pro{
    text-align: center;
    color: red;
}
.plink{
    text-align: center;
    font-size: 20px;
    margin: 30px;
}
/*for tablets*/
@media (max-width:992px){
    body{
        font-size: 16px;
    }
}
/*for phones*/
@media (max-width:768px){
    body{
        font-size: 14px;
    }
}
/*for small phones*/
@media (max-width:480px){
    body{
        font-size: 12px;
    }
}